version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: customer_db
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5

  mock-server:
    build: ./mock-server
    container_name: mock-server
    ports:
      - "5001:5000"
    depends_on:
      postgres:
        condition: service_healthy

  pipeline-service:
    build: ./pipeline-service
    container_name: pipeline-service
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://postgres:password@postgres:5432/customer_db
      MOCK_SERVER_URL: http://mock-server:5000
    depends_on:
      postgres:
        condition: service_healthy
      mock-server:
        condition: service_started
